@{
    ViewBag.Title = "About Garrett Beaverson";
}
<h2>@ViewBag.Title.</h2>
<h3>My Ohio University Story</h3>

<p>I am a Senior at OU. I am majoring in MIS, Business Analytics, and Sport Management. I have had an eventful journey through my professional career thus far. I have worked in Minor League Baseball, as a consultant for a blinds dealer, and as an analyst for NASCAR. I will be working for Deloitte after graduation as an ERP Consultant. I am looking forward to taking this class to better prepare myself for my role as a consultant.</p>
