@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello, My name is Garrett. I live on Mill Street in Athens, Ohio. It is as much of a curse as it is a blessing. It is the most fun place to be, but is not great for getting sleep. </p>

<p>I can be reached any time, at all hours, at my school email, GB538515@ohio.edu</p>