@{
    ViewBag.Title = "HOME";
}

<div class="jumbotron">
    <h1>Garrett Beaverson</h1>
    <p class="lead">The most accomplished young web designer with a future trending toward the stars.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SWAG</h2>
        <p>
            All my websites and applications are built with the utmost swag and posess a certain amount of jump-off-the-page theatrics and a scheme that draws users in.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>DRIP</h2>
        <p>The visual attraction of my webpages are boundless and the liquid coolness of these pages will leave users dazzled.</p>
        <p>Database Links</p>
        <p>@Html.ActionLink("Customers", "Index", "Customers")</p>
        <p>@Html.ActionLink("Orders", "Index", "Orders")</p>
        <p>@Html.ActionLink("Products", "Index", "Products")</p>
        <p>@Html.ActionLink("Line Items", "Index", "orderDetails")</p>

    </div>
    <div class="col-md-4">
        <h2>CLASS</h2>
        <p>My webpages have a higher level of sophistication. Only clients of the highest end may use my services, as I keep a certain reputation of class in the industry.</p>
        
    </div>
</div>